/*******************************************************************************
 * mma.layout.scss
 *
 * Styles for the mma layout.
 ******************************************************************************/
.l-constrained, .l-region--highlighted, .l-region--footer {
  width: 95%;
  margin: 0 auto;
  *zoom: 1;
}
.l-constrained:after, .l-region--highlighted:after, .l-region--footer:after {
  content: "";
  display: table;
  clear: both;
}

/* Header */
.l-region--header {
  padding: 18px 0;
}
.l-region--header .block {
  float: right;
}

/* Content Area */
.l-highlighted-wrapper {
  padding: 18px 0;
}

.l-region--help {
  margin-bottom: 18px;
}

.l-main {
  margin-top: 36px;
  margin-bottom: 36px;
}

/* Sidebars */
.l-region--sidebar-first,
.l-region--sidebar-second {
  padding: 18px 1em;
}

/* Footer */
.l-footer-wrapper {
  padding: 18px 0;
}

@media (min-width: 44em) {
  .l-constrained, .l-region--highlighted, .l-region--footer {
    width: 90%;
  }

  /* Header */
  .l-branding {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }

  .l-region--navigation {
    width: 48.93617%;
    float: left;
    margin-right: -100%;
    margin-left: 25.53191%;
    clear: none;
  }

  .l-region--header {
    width: 23.40426%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* Sidebars */
  .has-two-sidebars .l-content,
  .has-one-sidebar .l-content {
    width: 65.95745%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second,
  .has-one-sidebar .l-region--sidebar-first,
  .has-one-sidebar .l-region--sidebar-second {
    width: 31.91489%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: right;
  }
}
@media (min-width: 70em) {
  .l-constrained, .l-region--highlighted, .l-region--footer {
    width: 80%;
  }

  /* Sidebars */
  .has-one-sidebar .l-content {
    width: 65.95745%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  .has-one-sidebar .l-region--sidebar-first {
    width: 31.91489%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: none;
  }

  .has-two-sidebars .l-content {
    width: 48.93617%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 51.06383%;
    clear: none;
    clear: none;
  }
  .has-two-sidebars .l-region--sidebar-second {
    width: 23.40426%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

/*----------------------------------------------------------------------------*\
    Headhesive Specific Styles
/*----------------------------------------------------------------------------*/

/**
 * Headhesive element clone
 * > `clone` class for the cloned element:
 *
 |  var options = {
 |      classes {
 |          clone: 'banner_nav--clone';
 |      }
 |  }
 *
 */
.banner_nav--clone {

    /* Required styles */
    position: fixed;
    top: 0;
    left: 0;

    /* Additional styles */
    background: #c95a5d;

    /* Translate -100% to move off screen */
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);

    /* Animations */
    -webkit-transition: all 300ms ease-in-out;
       -moz-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;

}


/**
 * Headhesive stick
 * > `stick` class for the cloned element:
 *
 |  var options = {
 |      classes {
 |          stick: 'banner--stick';
 |      }
 |  }
 *
 */
.banner_nav--stick {

    /* Translate back to 0%; */
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
}


/**
 * Headhesive unstick
 * > `unstick` class for the cloned element:
 *
 |  var options = {
 |      classes {
 |          unstick: 'banner--unstick';
 |      }
 |  }
 *
 */
.banner_nav--unstick {
    /* Not required to use, but could be useful to have */
} 


/* Main elem */
.top_nav {
    background: #414141;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    height: 30px;
    width: 100%;
    color: #fff;
}
    .banner a {
        color: #fff;
    }
    .banner a:hover {
        color: #7C2B2D;
    }

/* Logo */
.logo {
    float: left;
    margin: 0;
    font-size: 20px;
    line-height: 70px;
}

/* Nav */
.nav {
    height: 40px;
    padding: 0;
    margin: 15px 0 0;
    float: right;
}
    /* Nav item */
    .nav__item {
        height: 40px;
        line-height: 40px;
        padding: 0;
        margin-left: 10px;
        display: inline-block;
    }
    /* Nav item button */
    .nav__item--btn {
        display: inline-block;
        padding: 0 10pxi;
        font-size: 14px;
        line-height: 38px;
        padding: 0 20px;
        width: auto;
    }

/* Hero */
.hero {
    background: #c95a5d;
    color: #fff;
    text-align: center;
    margin-bottom: 60px;
    overflow: hidden;
    padding: 60px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.hero__title {
    font-size: 72px;
    margin: 0 0 10px;
}

.hero__title span {
    /*opacity: .6;*/
}

.hero__snippet {
    font-size: 32px;
    font-style: italic;
    margin: 0 0 40px;
}

.hero__btn {
    border-color: #fff;
    color: #fff;
    padding: 10px 0;
    width: 160px;
    display: inline-block;
}
